body
 {
  margin: 0;
}


/* ---- default styles ----- */

.page
{
  margin-top: 65px;
  width: 100%;
}

.footer
{
   width: 100%;
   height: 200px;
   background-color: darkcyan;
   display: flex;
   justify-content: center;
   align-items: center;
   color: red;
}



.page > h1
{
  color: red; 
}
